<h2>Authenticator</h2>
<amplify-authenticator>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <h1>Welcome {{ user.username }}!</h1>
    <button (click)="signOut()">Sign Out</button>
  </ng-template>
</amplify-authenticator>

<h2>s3-album</h2>
<amplify-s3-album
  level="public"
  path="test/"
></amplify-s3-album>

<h2>s3-image</h2>
<amplify-s3-image
  level="public"
  img-key="Screen%20Shot%202023-01-12%20at%209.56.46%20AM.png"
></amplify-s3-image>

<h2>s3-image-picker</h2>
<amplify-s3-image-picker level="public"></amplify-s3-image-picker>
